* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    size: 15px;
    font-family: Roboto, "Open Sans", sans-serif;
    color: #8e9ca5;
    font-weight: 300;
    /* background-color: #eeeeee; */
    line-height: 1.5;
}

h1 {
    font-size: 16px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 300;
}

h3 {
    font-size: 13px;
    font-weight: 700;
}

a {
    color: #69acc7;
    text-decoration: none;
    font-weight: 100;
}

li {
    list-style: none;
}

small {
    font-size: 80%;
    color: #69acc7;
}

strong {
    font-weight: bold;
}

address {
    font-style: normal;
}

.container {
    /* max-width: 1200px; */
    max-width: 970px;
    margin: 0 auto;
    background-color: #fcff9f;
}

/* ================= HEADER ================= */

.header {
    position: absolute;
    top: 50px;
    width: 970px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 10;
}

.header-bar {
    background-color: white;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.branding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.branding img {
    margin-right: 15px;
}

.header-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-bar ul li {
    position: relative;
}

.header-bar ul a {
    padding: 32px 20px;
    color: #8e9ca5;
    text-transform: uppercase;
    display: inline-block;
}

.header-bar ul a:hover {
    color: #69acc7;
}

.header-bar ul a:hover::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #69acc7;
    color: #69acc7;
}

.header-bar ul li.checked::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #69acc7;
}

/* ================= !HEADER ================= */

/* ================= MAIN ================= */

.fullwidth-block {
    padding: 50px 0px;
}

.row {
    display: flex;
    font-display: row;
}

/* ----------------- hero ----------------- */
.hero {
}

.hero .slider {
    height: 700px;
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    /* padding-top: 800px; */
    text-align: center;

    top: -30px;
    top: 150px;
    background-image: url("../images/slider-1.jpg");
    animation: auto-slider-for-slider 3s linear infinite;
}

.hero input {
    margin-right: 20px;
    margin-top: 35px;
    /* display: none; */
    /* visibility: hidden; */
}

.hero input:last-child {
    margin-right: 0;
}

.hero label {
    height: 25px;
    width: 25px;

    background-color: white;
    border: 4px white solid;
    box-sizing: border-box;

    border-radius: 50%;
    cursor: pointer;
    position: absolute;

    margin-right: 15px;

    top: 680px;
    z-index: 11;

    transform: translateX(-30px);
    /* animation: auto-slider 3s linear infinite; */
}

.hero label:nth-of-type(1) {
    margin-left: 50px;
}

.hero label:nth-of-type(2) {
    margin-left: 100px;
    animation-delay: 1s;
}

.hero input:nth-of-type(1):checked ~ label:nth-of-type(1) {
    background-color: #69acc6;
}

.hero input:nth-of-type(2):checked ~ label:nth-of-type(2) {
    background-color: #69acc6;
}

.hero input:nth-of-type(3):checked ~ label:nth-of-type(3) {
    background-color: #69acc6;
}

.hero label:nth-of-type(3) {
    margin-left: 150px;
    animation-delay: 2s;
}

.hero input:checked ~ label {
    border: 4px white solid;
    animation: none;
}

.hero input:checked ~ .slider {
    animation: none;
}

.hero input:nth-of-type(1):checked ~ .slider {
    background-image: url("../images/slider-1.jpg");
}

.hero input:nth-of-type(2):checked ~ .slider {
    background-image: url("../images/slider-2.jpg");
}

.hero input:nth-of-type(3):checked ~ .slider {
    background-image: url("../images/slider-3.jpg");
}

.hero .text {
    color: white;
    width: 600px;
    margin: 0 auto;
    padding: 300px 0 20px;

    position: relative;
    z-index: 2;
}

.hero h2 {
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 15px;
}

.hero .button {
    margin-bottom: 35px;
}

.hero input:checked + label + .slide {
    display: block;
}
/* ----------------- !hero ----------------- */

/* ----------------- features section ----------------- */
.feature {
    border: 1px solid #e1e8ec;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    padding: 30px;
    margin: 15px;
}

.feature img,
.feature h2 {
    margin-bottom: 20px;
}

.feature p {
    margin-bottom: 30px;
}
/* ----------------- !features section ----------------- */

/* ----------------- news section ----------------- */
.news {
    background-color: #edf2f4;
}

.news .news-title {
    margin-bottom: 30px;
    padding: 0 15px;
}

.news .post {
    padding: 0 15px;
    width: 33%;
}

.news img {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.news a {
}

.news small {
    display: inline-block;
    margin-bottom: 30px;
}

.news .post::after {
    content: "";
    display: block;
    height: 11px;
    width: 22px;
    margin-top: 30px;

    bottom: 0;
    left: 15px;

    background-image: url(../images/arrow-long.png);
}

/* ----------------- !news section ----------------- */

/* ----------------- mission section ----------------- */
.mission {
}

.mission h2 {
    margin-bottom: 30px;
}

.mission .mission-left,
.mission .mission-right {
    padding: 0 15px;
}

.mission .mission-left {
    width: 66%;
}

.mission .mission-left p {
    margin-bottom: 15px;
}

.mission .mission-right ul {
    margin-bottom: 40px;
}

.mission .mission-right li {
    padding: 10px 0;
    margin-left: 20px;
    position: relative;
}

.mission .mission-right li + li {
    border-top: 1px solid #edf2f4;
}

.mission .mission-right li::before {
    content: "";
    width: 9px;
    height: 22px;
    position: absolute;
    background: url("../images/arrow.png") no-repeat;
    left: -20px;
    top: 20px;
}
/* ----------------- !mission section ----------------- */

/* ----------------- neque section ----------------- */
.neque {
    background: url("../images/slider-2.jpg") no-repeat;
    text-align: center;
    color: white;
}

.neque h2 {
    margin-bottom: 20px;
    font-size: 60px;
}

.neque p {
    margin-bottom: 24px;
}
/* ----------------- !neque section ----------------- */

/* ----------------- join section ----------------- */
.join {
    background-color: #edf2f4;
    padding: 50px 0;
}

.join .row {
    align-items: center;
    justify-content: center;
}

.join h2 {
    font-size: 24px;
    margin-right: 20px;
}

.join form {
    display: inline-block;
    position: relative;
}

form input,
form textarea,
form select {
    outline: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.join input[type="text"] {
    width: 400px;
    max-width: 100%;
    padding: 20px 100px 20px 20px;
}

.join input[type="submit"] {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;

    background: linear-gradient(#69c7b7, #69acc6);
    color: white;
    /* box-shadow: none; */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border: none;
    transition: 0.3s ease;

    cursor: pointer;
}
/* ----------------- !join section ----------------- */

/* ================= !MAIN ================= */

/* ================= FOOTER ================= */
.footer {
    padding: 50px 0;
}

.footer strong {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-column {
    width: 25%;
}

.footer-column h3 {
    margin-bottom: 20px;
    font-size: 19px;
}
/* ================= !FOOTER ================= */

/* ================= GENERAL ================= */
.button {
    display: inline-block;
    background-color: #e7edf1;
    font-size: 1.2em;
    padding: 10px 25px;
    border-radius: 5px;
    color: #8e9ca5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.button:hover {
    background-color: #69acc7;
    color: white;
}
/* ================= !GENERAL ================= */

@keyframes auto-slider {
    0% {
        /* opacity: 1; */
        background-color: blue;
    }
    32% {
        /* opacity: 1; */
        background-color: blue;
    }
    33% {
        /* opacity: 0; */
        background-color: white;
    }
    100% {
        /* opacity: 0; */
        background-color: white;
    }
}

@keyframes auto-slider-for-slider {
    0% {
        background-image: url("../images/slider-1.jpg");
    }
    32% {
        background-image: url("../images/slider-1.jpg");
    }
    33% {
        background-image: url("../images/slider-2.jpg");
    }
    65% {
        background-image: url("../images/slider-2.jpg");
    }
    66% {
        background-image: url("../images/slider-3.jpg");
    }
    100% {
        background-image: url("../images/slider-3.jpg");
    }
}

/* .hero input:checked ~ label::after,
.hero label::after ~ input:checked ~ label::after { */
/* .hero input:checked + label::after { */
/* 
.hero input:checked + label {
    /* background-color: #69acc7;
    border: 4px white solid; */
/*
    animation: none;
    /* opacity: 0;
    visibility: hidden; */
/*
} */
/* 
.hero input:checked ~ label {
    /* .hero label ~ input:checked,
.hero label ~ label ~ input:checked label { */
/*
    animation: none;
} */
