.anima {
    --width2: 200px;
    width: var(--width2);
    height: 200px;
    background-image: url("img/1.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    animation: animation-name 2s alternate infinite;
    box-sizing: border-box;
    /* opacity: 50%; */
    position: absolute;
    left: 0px;
}

@keyframes animation-name {
    0% {
        background-image: url("img/1.png");
    }
    25% {
        background-image: url("img/2.png");
    }
    50% {
        background-image: url("img/3.png");
    }
    75% {
        background-image: url("img/4.png");
    }
    100% {
        background-image: url("img/5.png");
        left: calc(100vw - var(--width2));
    }
}

