* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

input[type="text"],
textarea {
    padding: 5px 10px;
    margin-bottom: 5px;
    width: 100%;
}

textarea {
    min-height: 70px;
    resize: vertical;
}

select {
    padding: 5px 10px;
    margin-right: 45px;
}

button {
    padding: 5px 10px;
    margin: 5px 0;
    color: black;

    cursor: pointer;
}

button + button {
    margin-left: 5px;
}

button.active {
    background-color: white;
}

.panel {
    width: 350px;
}

.main {
    width: 805px;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 10px;
    gap: 5px;
}

.card {
    width: 250px;
    border: 1px solid black;
    padding: 10px;
}

.card p + p {
    margin-top: 5px;
}

.paginator {
    display: inline-block;
}
